<h1>Recipes</h1>

<%= @recipes.each do |recipe| %>
  <h4><%= recipe.title %></h4>
  <ul>
    <% recipe.ingredients.each do |ingredient| %>
      <li>Ingredient:  <%= ingredient.name %> <br> Quantity: <%= ingredient.quantity %>
    <% end %>
  </ul>
<% end %>
