<h2>Recipe Name: <%= @recipe.title %></h2>

<h3>Ingredients:</h2>


  <% if !@recipe.ingredients.empty? %>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li><%= "#{ingredient.name} X #{ingredient.quantity}" %></li>
      <% end %>
    <% else %>
      <p> No Ingredients! </p>
    </ul>
  <% end %>
